:root {
  --font-family: Arial, Helvetica, sans-serif;
  --primary-font-color: #4a4a4a;
  --primary-color: #5d9930;
  --border-color: #747474;
  --input-base-height: 24px;
}

body {
  font-family: var(--font-family);
  margin: 16px;
  color: var(--primary-font-color);
}

h1 {
  margin-bottom: 0px;
}

.container {
  padding: 16px 0 16px 0;
}

.form-item {
  margin-bottom: 24px;
}

label {
  display: inline-block;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.8);
}

input {
  height: var(--input-base-height);
}

textarea {
  font-family: var(--font-family);
}

input, textarea {
  width: 100%;
  line-height: var(--input-base-height);
  border: 2px solid var(--border-color);
  border-radius: 8px;
}
input:focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px green;
  background-color: rgba(200, 200, 200, 0.2);
}

@media screen and (min-width: 992px) {
  input, textarea {
    width: 450px;
  }

}

a {
  text-decoration: none;
  color: #506ad4;
  font-size: 80%;
  display: inline-block;
}

button {
  background: none;
  border: 0;
  background-color: var(--primary-color);
  color: #fff;
  padding: 8px 16px;
  border-radius: 6px;
  margin: 8px 0;
  cursor: pointer;
}

button:hover {
  color: var(--primary-font-color);
  background-color: rgba(93, 153, 48, 0.4);
}

button:focus {
  outline: none;
  border: 2px solid green;
}

#image-container {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px){
  .spec-container {
    width: 80%;
  }
}

.spec-container {
  padding: 16px 16px;
  border-radius: 10px;
  border: 2px solid green;
  margin: 8px;
}

.text-container {
  text-align: center;
}

.picts-container {
  display: flex;
  justify-content: center;
}

.spec-pict {
  margin: 10px;
  object-fit: fill;
}

li {
  border-bottom: 1px solid black;
  padding: 5px;
}

li:nth-child(even) {
  background-color: green;
  color: white;
}

li:nth-child(odd) {
  background-color: red;
  color: white;
}

li:first-child {
  border-top: 2px solid black;
}

li:last-child {
  border-bottom: 2px solid black;
}